/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --white-color: #4d1b6e;
  --black-color: #fff;
  --red-color: #e74c3c;
}
body, .wrapper, .content{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  padding: 0 10px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #2611e6, #ff05c9);
}
h2{
  color:white;
}
p{
  color:white;
}
.wrapper{
  width: 490px;
  padding: 30px 30px 38px;
  background: transparent;
  border: 2px solid rgba(255,255,255);
  border-radius: 20px;
  backdrop-filter:blur(1000px); 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,1);
}
.wrapper img{
  max-width: 103px;
}
.wrapper h1{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0;
}
.wrapper p{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
  }
.wrapper .content{
  width: 100%;
  justify-content: space-between;
}
.content.disable{
  cursor: no-drop;
}
.content .column{
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  width: calc(100% / 3 - 5px);
}
.content.disable .column{
  opacity: 0.6;
  pointer-events: none;
}
.column select{
  width: 100%;
  height: 53px;
  border:var(--white-color) ;
  outline: none;
  background: none;
  backdrop-filter:blur(1000px); 
  font-size: 19px;
 
}
.wrapper button{
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 0;
  margin-top: 20px;
  border-radius: 5px;
  background: #4A98F7;
}
.content button{
width: 40%;
}
.timer {
    align-items: center;
}
.time {
    align-items: center;
}
.select {
background: #2611e6;
}
.selectoption {
  text-align: center;
}
/*-------------------------clock---------------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  min-height: 35vh;
}
.container .clock {
  display: flex;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.1);
  position: relative;
}
.clock label {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * (360deg / 12)));
}
.clock label span {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
  transform: rotate(calc(var(--i) * (-360deg / 12)));
}
.container .indicator {
  position: absolute;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
}
.indicator::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 100;
  background: var(--black-color);
  border: 4px solid var(--red-color);
}
.indicator .hand {
  position: absolute;
  height: 80px;
  width: 4px;
  bottom: 0;
  border-radius: 25px;
  transform-origin: bottom;
  background: var(--red-color);
}
.hand.minute {
  height: 90px;
  width: 5px;
  background: var(--black-color);
}
.hand.hour {
  height: 75px;
  width: 8px;
  background: var(--black-color);
}


/*-------------------------Console---------------------------------------*/


#sidebarMenu {
    height: 783px;
    
    position: absolute;   
    width: 350px; 
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
    backdrop-filter:blur(1000px); 
    background: transparent;
    border: 2px solid rgba(255,255,255);
    border-radius: 20px;
    
}
.sidebarMenuInner{
  height: 800px;
   
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{   
    text-transform: uppercase;    
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner button{   
  width: 100%;
border: none;
outline: none;
color: #fff;
cursor: pointer;
font-size: 20px;
padding: 12px 0;
margin-top: 20px;
border-radius: 5px;
background: #4A98F7;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(450px);
}

input[type=checkbox] {
    transition: all 0.8s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.8s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 7px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
